<header>
    <a href="">
        <div class="logo-inner"></div>
        <img src ="http://quin.in/angular-hn/assets/images/logo.svg" alt="Logo" class="logo">
    </a>
    <div class="header-text">
      <div class="left">
        <h1 class="name"> 
          <a href="">Hacker News - Angular</a>
        </h1>
        <nav>
          <a href="">new</a>
          <span>|</span>
          <a href="">show</a>
          <span>|</span>
          <a href="">ask</a>
          <span>|</span>
          <a href="">jobs</a>
        </nav>
      </div>
    </div>

</header>
